
<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- base node launch file-->

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="/dev/ttyTHS0:921600" />
    <arg name="gcs_url" value="udp://:14550@" />
    <arg name="tgt_system" value="1" />
    <arg name="tgt_component" value="1" />
    <arg name="log_output" value="screen" />
    <arg name="fcu_protocol" value="v2.0" />
    <arg name="respawn_mavros" value="false" />
  </include>

</launch>

