
<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- mavcomm gcs node launch file-->
  <!-- mavcomm param -->
  <arg name="serial_port" default="/dev/ttyUSB0" />
  <arg name="baudrate" default="115200" />
  <arg name="Flag_ats153" default="2" />
  <!-- mavcomm -->
  <node pkg="mavcomm" type="mavcomm" name="mavcomm" output="screen" respawn="true"> 
    <!-- common param -->          
    <rosparam command="load" file="$(find mavcomm)/../common.yaml" />
    <!-- mavcomm param -->	  
    <param name="serial_port"     value="$(arg serial_port)" />
    <param name="serial_baudrate" value="$(arg baudrate)" />
    <param name="Flag_ats153"     value="$(arg Flag_ats153)" />
  </node>
</launch>
