
<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- base node launch file-->

  <!-- arg name="uavname" default="uav1" / -->

  <node pkg="mav_mission" type="uav_mission" name="uav_mission" output="screen">
    <!-- common param -->          
    <rosparam command="load" file="$(find mavcomm)/../common.yaml" />

    <param name="file_storage_path_head" value="$(find mavcomm)" type="string" />


  </node>

</launch>

